{% extends "base.html" %}

{% block header %}
<title>addProduct</title>
{% endblock %}


{% block content %}
<h1>Add Product [ADMIN]</h1>
<div class="form-group">
	<form method="post" action="" role="form">
		{% csrf_token %}
		{{ form.as_ul }}
		<button class="btn btn-primary" type="submit">
			Submit
		</button>
	</form>
</div>

<h1>Manage Assortment</h1>
<div>
<table class="table table-striped">
	<tr>
		<th>Product Name</th>
		<th>Product ID</th>
		<th>Stock</th>
		<th>Expired</th>
		<th colspan="2"></th>
	</tr>
		{% for product in products %}
	<tr>
		<td><a href="{% url 'goods:ProductView' product.id_good %}">{{product.name}}</a></td>
		<td>{{product.id_good}}</td>
		<td>{{product.stock}}</td>
		<td>{{product.expired}}</td>
		<td><a href="{% url 'goods:EditProductView' product.id_good %}">Edit</a></td>
		<td><a href="{% url 'goods:DeleteProductView' product.id_good %}">Delete</a></td>
	</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}

