{% extends "base.html" %}

{% block header %}
<title>listProduct</title>
{% endblock %}


{% block content %}
<h1>Webshop</h1>
<div>
<table>
	<tr>
		<th>Product Name</th>
		<th>Product ID</th>
		<th>Stock</th>
		<th></th>
	</tr>
		{% for product in products %}
	<tr>
		<td><a href="{% url 'goods:ProductView' product.id_good %}">{{product.name}}</a></td>
		<td>{{product.id_good}}</td>
		<td>{{product.stock}}</td>

		<td><a href="{% url 'shopping:AddProductShoppingcart' product.id_good %}">Add to shoppingcart</a></td>
	</tr>
		{% endfor %}
</div>
{% endblock %}

