{% extends "base.html" %}

{% block header %}
<title>listProduct</title>
{% endblock %}


{% block content %}
<h1>Webshop</h1>
<div>
<table border=1" class="tb">
	<tr>
		<th>Product Name</th>
		<th>Product ID</th>
		<th>Stock</th>
		<th>Price</th>
		<th></th>
	</tr>
		{% for product in products %}
	<tr>
		<td><a href="{% url 'goods:ProductView' product.id_good %}">{{product.name}}</a></td>
		<td>{{product.id_good}}</td>
		<td>{{product.stock}}st</td>
		<td>{{product.price}}:-</td>
		{% if user.is_authenticated %} 
		<td><a href="{% url 'shopping:AddProductShoppingcart' product.id_good %}">Add to shoppingcart</a></td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
</div>
{% endblock %}

