{% extends "base.html" %}

{% block header %}
<title>listProduct</title>
{% endblock %}


{% block content %}

<h1>{{product.name}}</h1>
<div style="width:100%">
	<p><b>Description</b><br/>
	{{product.description}}</p>
	<img src="{{product.image}}" style="width:150px">
	<p><b>Product nr:</b> {{product.id_good}}</p>
	<p><b>Price:</b> {{product.price}}:-</p>
	<p><b>Rating:</b> {{average}}</p>
</div>
<style>
	.ex{
		overflow: hidden;
		white-space: no-wrap;
	}
</style>

<table style="padding-left: 0px;margin-left: 0px;">
	<tr>
		<td>
			<div class="ex">
			{% if showReview == True %}
			<form method="post" action="">
				{% csrf_token %}
				<button type="submit" name="postRating" value="Rate it"class="btn btn-primary">Rate it</button>
				{% for field in PostReviewForm %}
					{{ field }}
				{% endfor %}
			</form>
			{% elif showReview == False %}
			<span style="color: green">You have rated this product</span><br>
			{% endif %}
		</div>
		</td>
	</tr>
</table>
<table style="padding-left: 0px; margin-left: 0px;">
	<tr>
		{% if user.is_authenticated %}
		<td><a href="{% url 'shopping:AddProductShoppingcart' product.id_good %}">
	<button type="submit" name="postComment" value="Buy" class="btn btn-success" style="margin-right:5px;">Buy</button></a><td>
		{% endif %}
		<td>Currently {{product.stock}} left in stock</td>
	</tr>
</table>

{% if user.is_authenticated %}
<br />
<hr>
<br />
<div>
	<form method="post" action="" class="">
		{% csrf_token %}
		{{ PostCommentForm.as_ul }}
		<button type="submit" value="Post" class="btn btn-info">Post</button>
	</form>
{% endif %}
</div>
<hr>
<div style="width:500px">
	{% for comment in comment_list %}
		<table border="1" style="width:100%;margin:3px;"><tbody>
			<tr>
				<td style="font-weight:normal;background-color:grey;" colspan="2">
					{{ comment.date }}
					{% if user.admin %}
					<span style="float:right">
						<a href="{% url 'goods:DeleteProductComment' comment.id %}">Delete</a>
					</span>
					{% endif %}
				</td>
			</tr>
			<tr style="vertical-align:top">
				<td style="width:100px">
					<div>
						<div>
							<b><u>{{ comment.name }}</u></b>
						</div>
						<p style="margin: 5px">{{ comment.role }}</p>
					</div>
				</td>
				<td>
					<div>
						{{ comment.comment_text }}
					</div>
				</td>
			</tr>
		</tbody></table>
	{% endfor %}
</div>

{% endblock %}

