{% extends "base.html" %}

{% block content %}
<h1>Edit Users [ADMIN]</h1>
<div style="width:500px;">
<table class="table" >
	<tr>
		<th>Username</th>
		<th>Firstname</th>
		<th>Lastname</th>
		<th>Admin role</th>
		<th colspan="2"></th>
	</tr>
	{% for user in userlist %}
		<tr>
			<td>{{ user.username }}</td>
			<td>{{ user.firstname }}</td>
			<td>{{ user.lastname }}</td>
			<td>{{ user.admin }}</td>
			<td>
				<form action="{% url 'users:AdminEditUser' user.username %}" method="get">
					{% csrf_token %}
					<button type="submit" value="Edit" class="btn btn-info" style="margin-top:0px;">Edit</button>
				</form>
			</td>
			<td>
				<form action="{% url 'users:delUser' user.username %}" method="get">
				{% csrf_token %}
				<button type="submit" value"Remove" class="btn btn-danger" style="margin-top:0px;">	Delete
				</button>
				</form>
			</td>
		</tr>
	{% endfor %}
</table>
</div>
{% endblock %}
