{% extends "base.html" %}

{% block content %}
<p>Edit Users</p>

<table border="1" style="width:100%">
	<tr>
		<td><b>Username</b></td>
		<td><b>Firstname</b></td>
		<td><b>Lastname</b></td>
		<td><b>Action</b></td>
	</tr>
	{% for user in userlist %}
		<tr>
			<td>{{ user.username }}</td>
			<td>{{ user.firstname }}</td>
			<td>{{ user.lastname }}</td>
			<td>
				<input type="submit" value="Edit">
				<form action="{% url 'users:delUser' user.username %}" method="post">
				{% csrf_token %}
				<input type="submit" value="Remove">
				</form>
			</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}
