{% extends "base.html" %}

{% block content %}
<h1>Edit Users [ADMIN]</h1>
<div>
<table border="1" style="width:100%">
	<tr>
		<td><b>Username</b></td>
		<td><b>Firstname</b></td>
		<td><b>Lastname</b></td>
		<td><b>Admin role</b></td>
		<td><b>Action</b></td>
	</tr>
	{% for user in userlist %}
		<tr>
			<td>{{ user.username }}</td>
			<td>{{ user.firstname }}</td>
			<td>{{ user.lastname }}</td>
			<td>{{ user.admin }}</td>
			<td>
				<form action="{% url 'users:AdminEditUser' user.username %}" method="get">
					{% csrf_token %}
					<input type="submit" value="Edit">
				</form>
				<form action="{% url 'users:delUser' user.username %}" method="get">
				{% csrf_token %}
				<input type="submit" value="Remove">
				</form>
			</td>
		</tr>
	{% endfor %}
</table>
</div>
{% endblock %}
