{% extends "base.html" %}

{% block header %}
<title>Shoppingcart</title>
{% endblock %}


{% block content %}
<div>
<h1>Shopping cart</h1>
	<table class="table table-striped">
		<tr>
			<th>Product Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Action</th>
		</tr>
		{% for product in inventory %}
		<tr>
			<td><a href=" {% url 'goods:ProductView' product.productID.id_good %}">{{ product.productID.name }}</a></td>
			<td>{{ product.productID.price }}:-</td>
			<td>{{ product.quantity }}</td>
			<td><a href=" {% url 'shopping:RemoveProductShoppingcart' product.productID.id_good %} ">Remove product</a></td>
		<tr>
		{% endfor %}
	</table>
</div>
<div style="padding-top: 10px;">
	Total sum: {{ sum }}:-, <a href="{% url 'shopping:CheckOutView' %}">Check Out</a>
</div>


{% endblock %}

