table {
	margin-left: 50px;
}
.etc {
	clear:both;
	position:relative;
	z-index:10;
	height:3em;
	margin-top:3em;
	text-align:center;
/*	position:fixed;
	width:100%;
	bottom: 0px;
	height:60px;
	text-align:center;

*/
}
input {
	background-color: inherit;
	display: block;
	border: 1px solid #999;
	padding: 7px;
	font-family: 'monospace';
}
textarea {
	background-color: inherit;
	display: block;
	width: 375px;
	font-family: 'monospace';
	height: 150px;
}
li {
	list-style-type: none;
}
button {
	margin-top:10px;
}
