<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static "base.css" %}">
		{% block head%}{% endblock %}
	</head>

	<body>
		<span class="title_head">E-commerce</span>
		<nav>
		<a href="{% url 'index' %}">Home</a> |
		<a href="{% url 'goods:ListProductView' %}">Products</a>
		{% if user.admin %}
		|
		<a href="{% url 'goods:AddProductView' %}">Add Products [A]</a> |
		<a href="{% url 'users:editUser' %}">Edit Users [A]</a>
		{% endif %}
		{% if user.is_authenticated %}
		|
		<a href="{% url 'shopping:Shoppingcart' user.id %}">Shoppingcart</a> |
		<a href="{% url 'orders:ListUserOrders' user %}">Your Orders</a> |
		<a href="{% url 'users:user' user %}">Profile</a>		|
		{{ user }}, <a href="{% url 'users:logout' %}">Logout</a>
		{% endif %}
		</nav>
	<div class="content">
		{% block content %}{% endblock %}
	</div>
	<div class="ext"><p>&copy; David and Pontus - e-commerce</p></div>
	</body>
</html>
