<!DOCTYPE html>

<html>
	<head>
		{% load staticfiles %}
		<link href="{% static "dist/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
		<link href="{% static "dist/css/bootstrap.css" %}" rel="stylesheet" media="screen"> 
		<link href="{% static "dist/css/bootstrap-theme.css" %}" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="{% static "base.css" %}">
		{% block head%}{% endblock %}
	</head>

	<body>
		
		<nav class="navbar navbar-default">
		<div class="navbar-header">
			<a class="navbar-brand" href="{%url 'index'%}">E-comsite</a>
		</div>
		<div class="" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">	
				<li><a href="{% url 'goods:ListProductView' %}">Products</a></li>
			{% if user.admin %}
				<li><a href="{% url 'goods:AddProductView' %}">Add Products [A]</a></li>
				<li><a href="{% url 'users:editUser' %}">Edit Users [A]</a></li>
			{% endif %}
			{% if user.is_authenticated %}
				<li><a href="{% url 'shopping:Shoppingcart' user.id %}">Shoppingcart</a></li>
				<li><a href="{% url 'orders:ListUserOrders' user %}">Your Orders</a></li>
				<li><a href="{% url 'users:user' user %}">Profile</a></li>
				<li><a href="{% url 'users:logout' %}">Logout</a></li>
				<li style="position:absolute;left:90%;"><a href="">{{ user }}</a></li>

			{% endif %}
			</ul>
		</div>
		</nav>
		
	<div class="container">
		{% block content %}{% endblock %}
	</div>	
	<div class="etc"><p>&copy; David and Pontus - e-commerce</p></div>

	</body>
</html>
